@charset "utf-8";

@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/resources/font/NotoSansKR-Regular-Hestia.eot),
    url(/resources/font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/font/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(/resources/font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

* { margin:0; padding:0;}
body{font-family:'Noto Sans Korean','Dotum','돋음','굴림'; font-size:12px; color:#575757; line-height:1.3;}
html, body { margin:0; padding:0; }
table { margin:auto; border-collapse:collapse; border-spacing:0; empty-cells:show;}
select, textarea {border:1px solid #B7B6B6; background:#FFF; font-family:'Noto Sans Korean','Dotum','돋음','굴림',Arial, Helvetica, sans-serif; font-size:12px; color:#575757; vertical-align:top;}
form, ul, ol, dl, table, div, h1, h2, h3 ,h4, h5, h6 {margin:0;padding:0;}
h1, h2, h3 ,h4, h5, h6{font-size:12px; text-decoration:none; font-weight:normal;}
img, fieldset {border:0; margin:0; padding:0; }
select, input, li, img {vertical-align:top; }
ul, li, ol,dl, dt, dd{list-style-type : none; word-break:break-all; }
caption { text-indent:-5000px; line-height:0; font-size:0;}
legend{ text-indent:-5000px; line-height:0; font-size:0;  top:-1000px; left:0; position:absolute;}
hr{display:none;}
a {color:#666; text-decoration:none;}
a:hover {color:#333; text-decoration:underline;}
pre{font-family:'Noto Sans Korean','Dotum','돋음','굴림'; word-wrap: break-word;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break:break-all;}/* 일부 운영체제에서 바탕체로 보일때가 있음 */

#skipToContent a { overflow:hidden; display:block; width:0px; height:0px; /*margin-bottom:-1px;*/ text-align:center; color:#000;}
#skipToContent a:focus, #skipToContent a:active {width:auto; height:auto; /*margin-bottom:5px;*/ padding:5px; background:#f2f2f2; border:1px solid #ddd;}
.hidden{text-indent:-5000px; line-height:0; font-size:0; position:absolute;  top:-10000px; left:0; }
.access{visibility:hidden;}
input{font-size:12px;}
.acce{ text-indent:-5000px; line-height:0; font-size:0;position:absolute;  bottom:0; left:0;}
.radio{width:13px; height:13px;}
.checkbox{width:13px; height:13px;}
.nb {border:none;}
.blind { border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; }
.blind.focusable:active, .blind.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/*selet input*/
input::-webkit-input-placeholder {color: #ccc!important;} /* 크롬 4–56 */
input:-moz-placeholder { color: #ccc!important; opacity:  1; /* 파이어폭스 4–18 */}
input::-moz-placeholder { color: #ccc!important; opacity:  1; /* 파이어폭스 19–50 */}
input:-ms-input-placeholder { color: #ccc!important; /* 인터넷 익스플로러 10+ */ color:  ccc;}
input::placeholder { color: #ccc!important; opacity:  1;/* 파이어폭스 51+, 크롬 57+ */}
input[type=text]::-ms-clear{display:none;}
textarea::-webkit-input-placeholder {color: #ccc;} /* 크롬 4–56 */
textarea:-moz-placeholder { color: #ccc; opacity:  1; /* 파이어폭스 4–18 */}
textarea::-moz-placeholder { color: #ccc; opacity:  1; /* 파이어폭스 19–50 */}
textarea:-ms-input-placeholder { color: #ccc; /* 인터넷 익스플로러 10+ */ color:  ccc;}
textarea::placeholder { color: #ccc; opacity:  1;/* 파이어폭스 51+, 크롬 57+ */}
button:focus {outline: none;}
select{ border:1px solid #e8e8e8; height:21px; color:#575757; font-family:Arial;}
.select50{width:50px; border:1px solid #d4d4d4; height:20px;}
.select55{width:55px; border:1px solid #d4d4d4; height:20px;}
.select67{width:71px; border:1px solid #d4d4d4; height:20px;}
.select80{width:85px; border:1px solid #d4d4d4; height:20px;}
.select90{width:90px; border:1px solid #d4d4d4; height:20px;}
.select100{width:100px; border:1px solid #d4d4d4; height:20px;}
.select130{width:130px; border:1px solid #d4d4d4; height:20px;}
.select140{width:140px; border:1px solid #d4d4d4; height:20px;}
.select150{width:150px; border:1px solid #d4d4d4; height:20px;}
.select180{width:180px; border:1px solid #d4d4d4; height:20px;}
.input67_car{width:67px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input80{width:80px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input35{width:35px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input50{width:50px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input100{width:100px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input170{width:170px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input250{width:250px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input530{width:530px; border:1px solid #d4d4d4; height:16px; padding:2px 0 0 2px; background:#f8f8f8;}
.input350 {width:350px; border: 1px solid #d4d4d4; height: 16px;padding: 2px 0 0 2px;}
.input95pe{width:95%; height:19px; border:1px solid #d4d4d4; background:#f8f8f8;}
.input40{width:40px; height:19px; border:1px solid #d4d4d4; background:#f8f8f8;}
.input60{width:60px; height:19px; border:1px solid #d4d4d4; background:#f8f8f8;}
.input120{width:120px; height:19px; border:1px solid #d4d4d4; background:#f8f8f8;}
.textarea_line{margin:4px 0; border:1px solid #d4d4d4; background:#f8f8f8;}
.areaDefault{width:95%; height:100px; border:1px solid #d4d4d4; padding:5px;}
/*font*/
.font11{font-size:11px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.fnb{font-weight:normal;}
.b{font-weight:bold;}
.org{color:#f05200!important;}
.wine{color:#890000;}
.violet{color:#8e63c8;}
.red{color:#d94200;}
.blue{color:#0a6ea9;}
.green{color:#6dac00;}
.green02{color:#028ab4;}

/*align*/
.fl {float:left!important;}
.fr {float:right!important;}
.cl {clear:both!important;}
.al {text-align:left!important;}
.ar {text-align:right!important;}
.at {vertical-align:top!important;}
.am {vertical-align:middle!important;}
.ab {vertical-align:bottom!important;}
.ac {text-align:center!important;}
.just{text-align:justify!important;}
.bl{display:block;}
.none{display:none!important;}
.pr{position:relative;}

.cf:after{display: block; clear: both; content:''; *zoom:1;}/* 카프렌즈 */
.cb{clear: both;}/* 카프렌즈 */
.br_n{border-right: none !important;}
.bl_n{border-left: none !important;}
.bb_n{border-bottom: none !important;}
.mr_0{margin-right: 0 !important;}/* 카프렌즈 */
p.hidden_text{display: none !important;}
/*margin*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}

/*padding*/
.pt0{padding-top:0px;!important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;!important;}
.pt30{padding-top:30px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pl30{padding-left:30px;}
.pad10{padding:10px 0;}
.pad5{padding:5px 0;}
.btm_space{padding:40px;}
/* mycar */
.radio		{ border:0px; }
.checkbox	{ border:0px; }
.pd_top5 	{ padding-top:5px; }
.pd_top10 	{ padding-top:10px; }
.pd_top20 	{ padding-top:20px; }
.pd_top50 	{ padding-top:50px; }
.txtLeft	{ text-align:left; padding-left:3px; }
.txtRight	{ text-align:right; padding-right:3px; }
.txtCenter	{ text-align:center; }
.txtTop		{ vertical-align:top; }
.btn		{cursor:pointer;}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
.flo_r{float:right;display:inline;}
.flo_l{float:left;display:inline;}

.loading{position:fixed; top:50%; left:50%; margin-left:-32px; z-index:9999}